# Fill in with correct paths

# Path to tool dir, the one with Linker.exe, ImageConverter.exe, Unlinker.exe
OAT_BASE=path

# Path to game dir
OAT_GAME=path

# Path to gsc-tool.exe
GSC_TOOL=path

# Path to pluto directory, leave blank if you haven't moved this dir out of LOCALAPPDATA
PLUTONIUM_DIR=path

# Player name for launching game in LAN mode
PLAYER_NAME=name
